# Configuration API
VITE_API_URL=http://localhost:8000
VITE_API_TIMEOUT=10000

# Configuration App
VITE_APP_NAME=Resto
VITE_APP_VERSION=1.0.0

# Orange Money Guinea API
OM_CLIENT_ID=votre_client_id
OM_CLIENT_SECRET=votre_client_secret
OM_MERCHANT_KEY=votre_merchant_key
OM_ENV=sandbox # sandbox ou production
FRONTEND_URL=http://localhost:3000

# Features
VITE_ENABLE_ANALYTICS=false
VITE_ENABLE_NOTIFICATIONS=true
